# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.spec

# Virtual environment
.venv/
venv/
env/

# PyCharm / JetBrains IDE
.idea/workspace.xml
.idea/shelf/
.idea/dictionaries/
.idea/httpRequests/
.idea/dataSources/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*
